@import "./sharedsheet";
.container {
  height: 100%;
}

.width-wrapper {
  margin: 0 auto;
  width: 80%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h2,
h5,
p {
  margin: 0px;
}

input {
  font-family: inherit;
  outline: none;
  border: none;
  border-bottom: 2px solid grey;
  padding: 8px 0px 8px 1px;
  margin-bottom: 16px;
  width: 100%;
  &:focus {
    border-color: $input-focus-color;
  }
}

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #b4005a;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

.app-btn {
  font-family: inherit;
  text-align: center;
  width: 100%;
  border: none;
  cursor: pointer;
  padding: 12px;
  margin-top: 20px;
  background-color: $secondary-color;
  color: white;
}

.app-box-shadow {
  position: relative;
  &:after {
    position: absolute;
    width: 90%;
    height: 5%;
    left: 5%;
    border-radius: 50%;
    z-index: -1;
    bottom: 0%;
    content: "";
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    clip: rect(8px, auto, 40px, auto);
  }
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
